*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#beambox{
    background: #F9FCFF;
}
.container-fluid{
    padding-right: 30px;
    padding-left: 30px;
}
.navbar-toggle-false{
    display: inline-block;
     width: 30px;
     height: 30px;
      vertical-align: middle;
      background-image:url(img/vector.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
  }
  .buttonsidebar[aria-expanded="true"] .navbar-toggle-false{
      background-image: url(img/cross.svg);
      background-color: #fff;
      background-size: 70%;
  }
  .buttonsidebar {
    background-color: transparent;
    border: none;
    margin-left: 10px;
  }
  /*///my csss///*/
  
  .toggle-side-menu{
    background: #2E3F50;
      width: 100%;
      padding: 10px;
      margin: 10px auto;
      max-width: 380px;
    .toggle-side-bar{
      display: flex;
        align-items: center;
        .performance-btn{
          display: flex;
        padding: 6px;
        justify-content: space-between;
        align-items: center;
        border-radius: 7px;
        border: 1px solid #16D27E;
        background: #16D27E;
        color: #FFFFFF;
        margin: 0 8px;
      }
      .marketing-btn {
        background-color: transparent;
        color: #fff;
        padding: 8px;
        border-radius: 7px;
        border: 1px solid #fff;
      }
      i{
        color:#fff;
        font-size:25px;
      }
    }
    .setting-collapse-bar{
      .well{
        background-color: transparent;
          border: none;
      }
      .side-bar-wrapeer{
        padding-top: 30px;
        ul{
            padding-inline-start:0;
          li{
            list-style:none;
            border-bottom: 1px solid #E7EBEF;
            padding: 10px 0px;
            display: flex;
            justify-content: space-between;
            span{
              color:#929FAD;
              font-size: 14px;
              font-weight: 450;
              } 
            .toggle-switch{
              display:inline-block;
              position:relative;
              width:32px;
              height:16px;
              margin-bottom: -3.5px;
              input[type="checkbox"]{
                display:none;
              }
              .slider{
                position:absolute;
                cursor:pointer;
                top:0;
                left:0;
                right:0;
                bottom:0;
                background-color:#ccc;
                border-radius:30px;
                transition:0.4s;
                &::before{
                  position:absolute;
                  content:"";
                  width:12px;
                  height:12px;
                  left:2px;
                  bottom:2px;
                  background-color:#fff;
                  border-radius:50%;
                  transition:0.4s;
                }
              }
              input[type="checkbox"]:checked + .slider{
                background-color:#20D785;
                &::before{
                  transform:translateX(15px);
                }
              }
            }
          }
        }
        .marketing-heading{
          color: #fff;
          margin: 50px 0 30px;
          font-size: 18px;
          }
    }
    }
    .sidebar-note{
      border-radius: 10px;
      border: 1px solid #46D68C;
      padding: 15px;
      margin-top:50px;
      .side-bar-span{
        color: #344047;
        font-size: 16px;
        font-weight: 700;
        padding-left:15px;
      }
      p{
        padding-top: 18px;
        color: #6F797F;
        font-size: 14px;
        font-weight: 450;
        letter-spacing: 0.14px;
      }
    }
  }
.side-wraper-perforance{
    margin: 50px 0;
.side-bar{
    background-color: #16D27E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    border:1px solid #16D27E;
    border-radius:7px;
    h4{
        color: #fff;
    }
    }
    .side-bar-wrapeer{
        padding-top: 30px;
        ul{
            padding-inline-start:0;
            li{
            list-style:none;
            border-bottom: 1px solid #E7EBEF;
            padding: 10px 0px;
            display: flex;
            justify-content: space-between;
            span{
                color:#929FAD;
                font-size: 14px;
                font-weight: 450;
                } 
            .toggle-switch{
                display:inline-block;
                position:relative;
                width:32px;
                height:16px;
                margin-bottom: -3.5px;
                input[type="checkbox"]{
                display:none;
                }
                .slider{
                position:absolute;
                cursor:pointer;
                top:0;
                left:0;
                right:0;
                bottom:0;
                background-color:#ccc;
                border-radius:30px;
                transition:0.4s;
                &::before{
                    position:absolute;
                    content:"";
                    width:12px;
                    height:12px;
                    left:2px;
                    bottom:2px;
                    background-color:#fff;
                    border-radius:50%;
                    transition:0.4s;
                }
                }
                input[type="checkbox"]:checked + .slider{
                background-color:#20D785;
                &::before{
                    transform:translateX(15px);
                }
                }
            }
            }
        }
        .side-bar-Components{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #BDC8D3;
            border-radius: 7px;
            padding: 10px;
            margin: 50px 0 30px;
            .marketing-heading{
                color: #344047;
                font-size: 18px;
                }
        }
        
    }
    }
    .sidebar-note{
        border-radius: 10px;
        border: 1px solid #46D68C;
        padding: 15px;
        margin-top:50px;
        .side-bar-span{
        color: #344047;
        font-size: 16px;
        font-weight: 700;
        padding-left:15px;
        }
        p{
        padding-top: 18px;
        color: #6F797F;
        font-size: 14px;
        font-weight: 450;
        letter-spacing: 0.14px;
        
 }
}
.modules-action{
    box-shadow: 5px 9px 60px 10px rgba(50, 117, 208, 0.05);
    background-color: #fff;
    border-radius: 10px;
    padding:25px 12px;    
    margin:15px 0 ;
}
.modules-cart-performance{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:5px;
    &.action{
        margin-top:30px;
    }
    h3{
        font-weight:450;
        font-size: 20px;
        color: #344047;
        margin: 0;
    }
    span{
        color: #1EABF1;
        font-size:14px;
        font-weight:700;
        img{
            margin-left:7px;
        }
    }
    #main{
        border: 1px solid rgba(231, 235, 239, 1);
        border-radius: 10px 
    }
    .move-block{
        color: #000;
        border: 1px solid #9FA9B1;
        padding: 5px 8px;
        border-radius: 7px;
    }
    .nav-tabs{
        border:1px solid #ddd;
        border-radius: 10px;
        li {
            border: none; border-radius: 0;
            a{
                border: none;
                border-radius: 0;
                padding: 6px 6px;
                margin-right:0;
                /* border:1px solid #ddd; */
             &:hover{
                background-color: transparent;
             }
             &:focus{
                border: none;
             }
            }
            &:nth-child(2) {
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                a {
                    border-left: 1px;
                    border-right: 1px;
                    border-left:#ddd;
                }
            }
            &:first-child {
                a {
                    border-radius: 7px 0 0 7px;
                }
            }
            &:last-child {
                a {
                    border-radius: 0 7px 7px 0;
                }
            }
        }
        .active {
            a, a:hover, a:focus{
                background-color: #1EABF1;
                border: none;
            }            
        }
    }
}
.tab-content-modules{
    margin:25px 0 0;
    .graph-chart{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin:10px 0;
    }
}
.vis-log-guest{
    display: flex;
    gap: 10px;
    width:100%;
    margin-top:25px;
    flex-wrap: nowrap;
    .modules-vlg{
        width:33.3%;
        border: 1px solid #E7EBEF;
        border-radius: 10px;
        padding: 7px 7px 15px;
        .percentage{
            display: block;
            text-align: right;
            color: #20D785;
            font-size: 16px;
            &.stage-n{
                color:#E95045;
            }
            img{
                margin-left: 2px;
                margin-top: -3px;
            }
        }
        .value{
            display: block;
            text-align: center;
            font-size: 36px;
            font-weight: 450;
            color: #344047;
            img{
                margin-left: 2px;
            }
        }
        .vlg-tootip{
            display: block;
            text-align: center;
            img{
                margin-left: 4px;
            }
        }
    }
}
.chart-bar-custom{
    border:1px solid #E7EBEF;
    border-radius:10px;
    padding: 10px;
}
.chart-bar-custom span{
    font-size:18px;  
    color:#344047;
 }
 #legend1, #legend2, #legend3, #legend4, #legend5{
    display: flex;
    justify-content:left;
    margin: 13px 0 13px 0;
    font-size: 13px;
    font-weight: 500;
}

#legend1 div, #legend2 div, #legend3 div, #legend4 div, #legend5 div{
    display: inline-block;
    margin-right: 10px;
}

#legend1 span, #legend2 span, #legend3 span, #legend4 span, #legend5 span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align:sub;
}

.line-through {
    text-decoration: line-through;
}
.email-performance{
    border: 1px solid #E7EBEF;
    border-radius: 10px;
    padding: 15px 7px 15px;
    margin:10px;
    .percentage{
        display: block;
        text-align: right;
        color: #20D785;
        font-size: 16px;
        &.stage-n{
            color:#E95045;
        }
        img{
            margin-left: 2px;
            margin-top: -3px;
        }
    }
    .value{
        display: block;
        text-align: center;
        font-size: 36px;
        font-weight: 450;
        color: #344047;
        img{
            margin-left: 2px;
        }
    }
    .vlg-tootip{
        display: block;
        text-align: center;
        img{
            margin-left: 4px;
        }
    }

}
table tr{
  border-bottom: 1px solid #ddd;
}
table thead tr th, table tbody tr td{
    padding:14px 0;
}
.tablerecenttable table thead tr th{
    width: 25%;
}
.tablerecenttable table thead tr th:not(:first-child){
    width: 15%;
    text-align: center;
}
.tablerecenttable table tbody tr td:not(:first-child){
    text-align: center;
}
.tablerecenttable table tbody tr td:nth-child(3){
  span{
    img{
        margin-right: 10px;
    }
  }
}
.tablerecenttable table thead tr th:nth-child(6){
 text-align: center;
}
.tablerecenttable table tbody tr td:nth-child(6){
    text-align: center;
}
.tablerecent table thead tr th{
    width: 40%;
}
.tablerecent table thead tr th:not(:first-child){
    width: 20%;
}
.tablerecent table thead tr th:nth-child(3){
    text-align: center;
}
.tablerecent table thead tr th:last-child{
  text-align: center;
}
.tablerecent table tbody tr td:nth-child(3) {
    text-align: center;
}
.tablerecent table tbody tr td:nth-child(2){
  span{
    img{
        margin-right: 10px;
    }
  }
}
.tablerecent table tbody tr td:nth-child(4){
    text-align: center;
}
.modules-vlg-qr{
    width:50%;
    border: 1px solid #E7EBEF;
    border-radius: 10px;
    padding: 7px 7px 15px;
    .percentage{
        display: block;
        text-align: right;
        color: #20D785;
        font-size: 16px;
        &.stage-n{
            color:#E95045;
        }
        img{
            margin-left: 2px;
            margin-top: -3px;
        }
    }
    .value{
        display: block;
        text-align: center;
        font-size: 36px;
        font-weight: 450;
        color: #344047;
        img{
            margin-left: 2px;
        }
    }
    .vlg-tootip{
        display: block;
        text-align: center;
        img{
            margin-left: 4px;
        }
    }
}
.email-modules-row{
    display: flex;
    flex-wrap: wrap;
}
.email-modules-column{
    width: 50%;
}
.email-modules-col{
  margin-top: 25px;
  .email-performance{
    padding:23px 7px 55px;
    .value{
        margin-top: 10px;
    }
  }
}
.show-eye-img img, .hide-eye-img img{
    border:1px solid #ddd;
    padding:3px;
    border-radius:4px;
}
.hr{
    border: 1px solid #CCD5DF;
    margin:40px 0;
}
.toggle-side-menu{
    display: none;
}
.email-span{
    display: flex;
    align-items: baseline;
}
.email-span span {
    margin-left: 12px;
}
.sidebar-note span img{
    margin-right:7px;
    vertical-align: sub;
}
.sidebar-note span {
    font-weight:600;
}
.modules-cart{
    margin-top:53px;
}
@media screen and (min-width:992px) {
    .col-md-site-bar{
      width:20%;
    }
    .col-md-modules{
        width:80%;
      }
  }

@media screen and (max-width:767px) {
    .col-md-site-bar{
        display: none;
    }
    .toggle-side-menu{
        display: block;
    }
    .modules-cart h1{
      font-size: 20px;
      text-align: center;
    }
    .vis-log-guest{
        flex-wrap: wrap;
        .modules-vlg{
            width: 100%;
        }
    }
    .email-modules-column{
        width:100%;
    }
    .modules-vlg-qr{
        width: 100%;
    }
    .email-span span {
        margin-left:67px;
    }
    .modules-cart-performance h4{
       font-size:18px;
    }
    .modules-cart-performance span{
        font-size:12;
    }
    #legend3{
        display: block;
    }
    #legend3 div{
        display: block!important;
    }
    .show-eye-img span, .hide-eye-img span{
        font-size: 12px;
    }
    .show-eye-img img, .hide-eye-img img{
        width:28px;
    }
    .marketing-mobile-case{
        font-size: 24px;
        margin-bottom:35px;
        text-align: center;

    }
    .modules-cart-performance{
        justify-content: space-evenly;
        gap: 35px;
    }
    .table-responsive{
        border: none;
    }
    /* .grapgh-chart-bar{
        width: 100%;
    overflow-x: auto;
    }
    #chartWrapper{
       width: 600px;
    } */
  }

